* {
  margin: 0;
  padding: 0;
}

/* Background */
.backgroundContainer1 {
  background-image: url(https://images.unsplash.com/photo-1619252584172-a83a949b6efd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80); 
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.backgroundContainer2 {
  background-color: #ffe8b9;
}


/* Heading Tags */
h1 {
  color: #211e1e;
  font-family: "Squada One", cursive;
  font-size: 3em;
  text-shadow: 3px 3px #ffe8b9;
  text-align: center;
}
h3 {
  font-size: 1.3em;
}
h3, p {
  font-weight: 300;
  font-family: "Squada One", cursive;
}


/* Footer */
.copyright {
  padding: 1em;
}
.pressKeyPadding {
  padding-top: 3em;
}
.buttonPadding {
  padding-top: 0.5em;
  padding-bottom: 12em;
}


/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h1 {
    font-size: 4em;
  }
  h3 {
    font-size: 1.7em;
  }
   p {
    font-size: 1.3em;
  }
  

  .pressKeyPadding {
    padding-top: 4em;
  }
  .buttonPadding {
    padding-top: 0.5em;
    padding-bottom: 11.5em;
  }

}


/* Desktop */
@media only screen and (min-device-width: 1025px) {

  h1 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 1.7em;
  }
  p {
    font-size: 1.5em;
  }

  
  .pressKeyPadding {
    padding-top: 3em;
  }
  .buttonPadding {
    padding-bottom: 3.2em;
  }

}


/* Grid Container */

.grid-container1 {
  display: grid;
  grid-template-columns: 130px 130px;
  grid-template-rows: 130px 130px;
  gap: 25px;

  justify-content: center;
  text-align: center;

  padding-top: 2em;
  padding-right: 0.5em;
  
}


/* Flexbox */

/* Flexbox */
.flex-container1 {
  display: flex;
  flex-direction: column;

  /* Align center */
  align-items: center;
  justify-content: center;
  text-align: center;

  flex-wrap: wrap;
}


.btn {
  /* margin: 25px; */
  /* display: inline-block; */
  height: 8em;
  width: 8em;
  border: 4.5px solid black;
  border-radius: 20%;
  margin-top: 0.3em;
}



/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {


  .grid-container1 {
    grid-template-columns: 130px 130px;
    grid-template-rows: 130px 130px;
    gap: 80px;
  
    justify-content: center;
    text-align: center;
  
    padding-top: 3em;
    padding-right: 3em;
    
  }

  .btn {
    height: 11em;
    width: 11em;
  }

}

/* Desktop */
@media only screen and (min-device-width: 1025px) {

  .grid-container1 {
    grid-template-columns: 130px 130px;
    grid-template-rows: 130px 130px;
    gap: 80px;
  
    justify-content: center;
    text-align: center;
  
    padding-top: 1em;
    padding-right: 3em

  }


  .btn {
    height: 11em;
    width: 11em;
  }

}



/* Colors */
.game-over {
  background-color: red;
  opacity: 0.8;
}
.red {
  background-color: #ff595d;
}
.green {
  background-color: #8bc926;
}
.blue {
  background-color: #1982c4;
}
.yellow {
  background-color: #ffc939;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


/* Button */

.myButton {
  /* box-shadow: 0px 1px 0px 0px #1c1b18; */
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  border-radius: 15px;
  border: 1.4px solid #211e1e;
  display: inline-block;

  cursor: pointer;
  color: #211e1e;
  font-family: "Squada One", cursive;
  font-size: 1.5em;
  font-weight: bold;

  padding: 0.6em 1.5em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;

  margin-top: 2em;
  margin-left: 3.5em;
  text-align: center;
}
.myButton:hover {
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color: #ccc2a6;
}
.myButton:active {
  position: relative;
  top: 1px;
}


/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .myButton {
    margin-left: 5.5em;
  }
}

/* Desktop */
@media only screen and (min-device-width: 1025px) {
  .myButton {
    margin-top: 1em;
    margin-left: 5.5em;
  }
}





/* font-family: 'Knewave', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Squada One', cursive; */
